.headText {
  font-size: 28px;
  color: rgb(75, 74, 74);
}
.content {
  margin-top: 1.5rem;
}
.contentHeadText {
  font-size: 24px;
  color: rgb(75, 74, 74);
  text-decoration: underline;
  color: purple;
}
.totalUser {
  font-size: 16px;
  font-weight: 600;
  color: rgb(75, 74, 74);
}
.totalUserSuccess {
  color: green;
}
.totalUserDanger {
  color: #ee4b2b;
}

.contentHeadTextStandard {
  font-size: 24px;
  color: rgb(75, 74, 74);
  text-decoration: underline;
  color: #115293;
}
.contentHeadTextPremium {
  font-size: 24px;
  color: rgb(75, 74, 74);
  text-decoration: underline;
  color: green;
}
