$darkGrey: "#424242";
$mediumGrey: "#616161";
$lightGrey: "#757575";
$hoverGrey: "#f5f5f5";

.table {
  border: none;
  width: 100%;
}

.tableHead {
  border: none;
  overflow: hidden;
  border-radius: 0.4rem;
}

.tableRowHead {
  background-color: rgba(155, 155, 155, 0.1);
  & > * {
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1.2rem 1.4rem;
    color: rgb(75, 74, 74);
  }

  th:first-of-type {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  th:last-of-type {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.tableRowBody {
  background-color: rgb(218, 218, 218, 0.1);
  & > * {
    border: none;
    font-size: 0.9rem;
    color: gray;
    padding: 1.1rem 1.4rem;
  }

  th:first-of-type {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    color: rgb(75, 74, 74);
  }

  th:last-of-type {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
.tableBodyBtn {
  padding: 0.1rem 0.4rem;
  text-transform: capitalize;
  &:hover {
    background-color: none;
  }
}
