.mainContainer {
  max-width: 600px;
}

.previewVideo {
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  text-align: center;
  border: 1px solid #e0e0e0;
  position: relative;
  /* Ensure the close button is positioned relative to this container */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f44336;
  /* Red color for the close button */
}

.dialogBtnSecondary {
  background-color: transparent;
  color: grey;
  font-weight: 600;
  border: 1px solid silver;
  box-shadow: none;
  width: fit-content;
  padding: 0.4rem 1.4rem;

  &:hover {
    background-color: white;
    color: #424242;
    box-shadow: none;
  }
}

.linkBtn {
  background: #000;
  border: 1px solid transparent;
  height: max-content;
  width: fit-content;
  align-self: center;
  width: 100%;

  &:hover {
    background-color: white;
    box-shadow: none !important;
    color: #424242;
    border: 1px solid silver;
  }
}

// ---------------- Videos Page Scss ----------------
.textClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.videoTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.link {
  text-decoration: none;
}

// ----------------------Record video page scss----------------------

.recordContainer,
.dialogBtnSecondary {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.recordButton {
  background-color: #ff4d4d; // Light red background
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%; // Makes it circular
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(255, 77, 77, 0.3); // Soft glow effect

  &:hover {
    background-color: #ff6666; // Slightly lighter red on hover
    transform: scale(1.1); // Slight zoom-in effect
    box-shadow: 0px 6px 12px rgba(255, 77, 77, 0.5); // Stronger glow
  }
}

.recordIcon {
  font-size: 28px;
}


.record_mini_popup_container {
  position: relative;
  background-color: (0, 0, 0, 0.5);
}

.record_mini_popup_inner {
  position: fixed;
  height: auto;
  /* Adjust the height as needed */
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1000;
  top: 40%;
  right: 0;
  padding: 2px;
  border-radius: 20px;
  background: #fff;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.record_mini_popup_selection {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(66, 63, 63);
  border-radius: 20px;
}

.record_mini_popup_selection_button,
.record_mini_popup_selection_gap,
.record_mini_popup_selection_cross_button {
  width: 100%;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-size: 2.2rem;
  display: inline-block;
  text-align: center;
  opacity: 0.7;
}

.record_mini_popup_selection_button:hover,
.record_mini_popup_selection_cross_button:hover {
  opacity: 1;
  scale: 1.1;
}

.record_mini_popup_selection_gap {
  opacity: 0.3;
}

.record_mini_popup_selection_cross_button {
  color: rgb(250, 45, 45);
}

.record_mini_popup_video {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}

.uploadButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.linkBtn {
  background: #000;
  color: white;
  border: 1px solid transparent;
  height: max-content;
  width: fit-content;
  align-self: center;
  text-decoration: none;

  &:hover {
    background-color: white;
    box-shadow: none !important;
    color: #424242;
    border: 1px solid silver;
  }
}

.snackbar {
  & .MuiSnackbarContent-root {
    background-color: #f44336;
    /* Red background for error */
    color: white;
  }
}

// .dialogBtnSecondary {
//   background-color: black;
//   color: white;
//   font-weight: 600;
//   border: 1px solid grey;
//   box-shadow: none;
//   border-radius: 2rem;
//   width: fit-content;
//   padding: 0.4rem 1.4rem;
//   &:hover {
//     background-color: white;
//     color: #424242;
//     box-shadow: none;
//   }
// }