.Tabs {
  background-color: white;
  border-radius: 0.4rem;
  padding: 0.2rem 0.2rem;
  border: 1px solid silver;
  min-height: auto;
}
.Tab {
  border-radius: 0.4rem;
  padding: 0.6rem 0.6rem;
  min-width: auto;
  min-height: auto;
  text-transform: capitalize;
  color: grey;
}
